[Unit]
Description=Prometheus Proxmox Backup Server Exporter
Documentation=https://github.com/simonjur/pbs-exporter-node

[Service]
EnvironmentFile=/etc/pbs-exporter.env
Restart=always
User=pbs-exporter
WorkingDirectory=/opt/pbs-exporter
ExecStart=/usr/bin/node /opt/pbs-exporter/src/run.ts

[Install]
WantedBy=multi-user.target
